body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcb05;
    color: #006aec;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

h2 {
    color: #ffcb05;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

footer {
    background-color: #3d7dca;
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.pokemon-info {
    display: flex;
    align-items: center;
}

.pokemon-info img {
    margin-right: 20px;
}