.texto__menor {
    font-size: 13px;
}

.divs__facilidades {
    width: 325px;
}

.informacoes {
    background-color: black;
}

.informacoes__titulo {
    color: white;
}

.informacoes__imagem {
    color: #daff01;
}

.informacoes__texto {
    color: #CCCCCC;
}

.cor__botao {
    background-color: #9353ff;
    border-color: #9353ff;
}